img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.slide-plat{
    display: flex;
    justify-content: center;
    gap: 25px;
}


.Alexis{
    font-size: 32px ;
    color : red ;
    text-decoration : underline;
    
}
